@media only screen and (min-width: 1280px) {

    /* CSS RESETS */
    * {
        vertical-align: baseline;
        font-weight: inherit;
        font-family: inherit;
        font-style: inherit;
        font-size: 100%;
        border: 0 none;
        outline: 0;
        margin: 0;
    }

    @font-face {
        font-family: "Futura";
        src: url("../fonts/Futura-Condensed-Medium.otf") format("opentype");
    }

    @font-face {
        font-family: "OpenSans";
        src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
    }

    body {
        display: flex;
        min-height: 100%;
        flex-direction: column;
    }
    
    .homepage-content {
        flex: 1;
    }

    .header {
        align-items: center;
        background-color: rgb(0, 97, 111);
        border-bottom: 1px solid rgb(0, 97, 111);
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-items: center;
    } 
    .Steady-Arc-logo {
        display: block;
        justify-content: center;
        padding-bottom: 10px;
        padding-left: 1em;
        padding-top: 10px;
        width: 13em;
    }
    .header-content {
        color: white;
        font-family: "Futura";
        font-size: 8em;
        font-weight: 400;
        padding-bottom: 10px;
        padding-left: 0.2em;
        white-space: nowrap;
    }
    
    .background {
        background-image: url("../images/chicago_skyline_twilight.jpg");
        background-size: cover;
        display: grid;
        grid-gap: 1.4em;
        grid-auto-rows: 10em 1fr;
        height: 75vh;
    }

    .button-row {
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 3em;
        white-space: nowrap;
    } 

    .button {
        background-color:  rgb(0, 97, 111);
        border: 1px solid rgb(0, 97, 111);
        border-radius: 15px;
        color: white;
        font-family: "OpenSans";
        font-size: 2em;
        font-weight: 400;
        padding: 10px;
        text-decoration: none;
        }

    .footer-container {
        align-items: center;
        background-color: rgb(0, 97, 111);
        border-bottom: 1px solid rgb(0, 97, 111);
        color: white;
        display: flex;
        flex-direction: row;
        font-family: "Futura";
        font-weight: 100;
        font-size: 1em;
        justify-content: center;
        margin-bottom: 0;
        white-space: nowrap;
    }
    .footer-content {
        color: white;
        margin: 10px; 
    }
    .contact-link:link {
        color: white;
    }
    .contact-link:visited {
        color: rgb(0,164,180);
    }
    .contact-link:hover {
        color: rgb(0,164,180);
    }
    .contact-link:active {
        color: rgb(0,164,180);
    }
    .pipe {
        padding-bottom: 5px;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 8px;
    }
    .attribution {
        font-family: "OpenSans";
        font-weight: 600;
        font-size: .7em;
        padding-bottom: .5em;
        padding-top: .4em;
        text-align: center;
    }
    .email-link:link {
        color: rgb(0, 97, 111);
    }
    .email-link:visited {
        color: rgb(0,164,180);
    }
    .email-link:hover {
        color: rgb(0,164,180);
    }
    .email-link:active {
        color: rgb(0,164,180);
    }

    /*  INVESTORS PAGE */

    .bold {
        font-weight: bold;
    }

    .center-image {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    img {
        padding: 1em;
        width: 40%;
    }

    header {
        font-family: "OpenSans";
        font-size: 2.5em;
        line-height: 1.5;
        padding: .8em;
        text-align: center;
    }

    p {
        font-family: "OpenSans";
        line-height: 1.5;
        margin-left: 23em;
        margin-right: 23em;
        padding-bottom: .8em;
        padding-top: .8em;
    }

    ul, li {
        font-family: "OpenSans";
        line-height: 1.5;
        margin-left: 12em;
    }

    .sublist-items {
        margin-left: 1em;
    }

}